@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(212 212 215 / 45%);
  height: 10rem;
  color: black;
}

.orange {
  color: orange;
}
li {
  text-decoration: none;
  list-style: none;
  font-size: 19px;
  cursor: pointer;
}

li > a {
  display: flex;
  margin: 20px;
  font-family: "Truculenta", sans-serif;
  font-weight: 300;
  text-decoration: none;
  list-style: none;
  color: black;
}

.img360 {
  margin: 0 0 0 -43vw;
  height: 90px;
  width: 90px;
}

.container {
  display: flex;
}
.left-box > img {
  width: 100%;
}

.right-box {
  background-color: #ff4500bf;
  flex: 1;
  height: 91.5vh;
}

#h1 {
  display: flex;
  padding-top: 7rem;
  color: white;
  margin: 30px 0 0 7rem;
  font-size: 61px;
  font-weight: 300;
  font-family: sans-serif;
}

#p1 {
  display: flex;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
  margin: 30px 0 0 7rem;
  line-height: 1.6rem;
}
.span1 {
  margin-top: 43.4px;
  background-color: black;
  height: 15.2rem;
  display: flex;
  flex-wrap: wrap;
}
.h3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 1.3rem;
  color: white;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
}
.container1 {
  display: flex;
}
.img362 {
  padding: -40px;
  height: 53.5vh;
  width: 100%;
}

.left-box1 {
  width: 54%;
  margin-top: -4px;
}
.right-box1 {
  height: 50vh;
  margin-top: -6px;
  width: 50%;
  background-color: white;
  color: black;
}
#h11 {
  display: flex;
  margin-left: 7rem;
  margin-top: 7rem;
  font-size: 2.8rem;
  font-family: sans-serif;
  font-weight: 500;
}

#btn1 {
  padding: 15px;
  font-weight: 600;
  height: 50px;
  width: 26rem;
  margin-top: 22px;
  margin-left: 7rem;
  border: 2px solid black;
  font-size: 16px;
}
.p2 {
  line-height: 1.2rem;
  font-size: 20px;
  margin: 20px 20px 2px 7rem;
  line-height: 1.6rem;
  font-family: sans-serif;
}
.left-box2 {
  background-color: black;
  color: white;
  height: 75vh;
  width: 70.5vw;
  margin-top: -4px;
}

.container2 {
  display: flex;
}
#h31 {
  display: flex;
  margin-left: 7rem;
  margin-top: 3rem;
  font-size: 1.8rem;
  font-family: sans-serif;
  font-weight: 300;
  color: orangered;
}
#p3 {
  display: flex;
  margin-top: 1rem;
  margin-left: 7rem;
}

a {
  color: white;
  text-decoration: none;
}

.hr1 {
  margin-top: 2.2rem;
  margin-left: 13rem;
  height: 16rem;
}
.right-box2 {
  background-color: #f4f0ef;
  width: 29%;
  color: black;
}

#h32 {
  margin-top: 9rem;
  margin-left: 3rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: sans-serif;
}
#p4 {
  margin-top: 0.6rem;
  margin-left: 3rem;
  color: orangered;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 19px;
}

#hr2 {
  margin-top: 3rem;
  margin-left: 3rem;
  width: 21rem;
  border: 0.1px solid black;
}
#h33 {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: sans-serif;
}
.container4 {
  display: flex;
}

.right-box4 {
  display: flex;
  flex: 1;
}
.left-box4 {
  flex: 1;
}

.container4 {
  display: flex;
  box-sizing: border-box;
  
}
.right-box1 {
  margin-top: 3rem;
  margin-left: 4rem;
  height: 30vh;
  background-color: white;
  width: 100%;
  max-width: 100%;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
}
#h21{
  margin-top: 1rem;
  font-size: 25px;
  font-family: sans-serif;
}
#a1{
  color: black;
  margin-top:20px;
  line-height: 3;
  margin-left: 3rem;

}
#a2{
margin-top: 2rem;
color: black;
margin-left: 3rem;

}
#h12{
  margin-left: 3rem;
}

#h21{
  margin-left: 3rem;

}